#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp A   &kp A   &kp A    &kp A  &kp A  &kp A   &kp A  &kp A  &kp A   &kp A  &kp A  &kp A
&kp A   &kp A   &kp A    &kp A  &kp A  &kp A   &kp A  &kp A  &kp A   &kp A  &kp A  &kp A
&kp A   &kp A   &kp A    &kp A  &kp A  &kp A   &kp A  &kp A  &kp A   &kp A  &kp A  &kp A
&kp A   &kp A   &kp A    &kp A  &kp A  &kp A   &kp A  &kp A  &kp A   &kp A  &kp A  &kp A
            >;
        };

        layer_1 {
            bindings = <
&kp C     &kp C     &kp C     &kp C &kp C &kp C  &kp C &kp C &kp C  &kp C &kp C &kp C
&kp C     &kp C     &kp C     &kp C &kp C &kp C  &kp C &kp C &kp C  &kp C &kp C &kp C
&kp C     &kp C     &kp C     &kp C &kp C &kp C  &kp C &kp C &kp C  &kp C &kp C &kp C
&kp C     &kp C     &kp C     &kp C &kp C &kp C  &kp C &kp C &kp C  &kp C &kp C &kp C
            >;
        };
    };
};
